{% extends "template_center.html" %}

{% block title %}
{{translate("Remove Member")}}
{% end %}

{% block style %}
<link rel="stylesheet" href="{{ static_url("column_style.css") }}" type="text/css">
{% end %}

{% block center %}
<div style="overflow:hidden">
    <h1 style="float:left">{{translate("Remove Member from")}} {{group['name']}}</h1>
</div>

<form id="form" action="/group_remove_member/{{group['id']}}" method="post">
    <!--p1>username</p1>
    <input type="text" name="username" onkeypress="if(event.keyCode==13){submit_ajax()}"-->
    <div class="column" style="margin-bottom: 5px">
    {% for user in members %}
        {% if not user['isAdmin'] %}
            {% module TileUser(user) %}
        {% end %}
    {% end %}
    </div>
    <input type="button" value="{{translate('Remove')}}" onclick="submit_ajax()">
    <input type="button" value="{{translate('Cancel')}}" onclick="javascript:history.back()">
    {% module xsrf_form_html() %}
</form>
{% end %}

{% block script %}

<script src="{{static_url("cookie.js")}}"></script>
<script src="{{static_url("input_script.js")}}"></script>

<script>

var users = []

function click_user(element,username){
    if(hasClass(element,"active")){
        element.classList.remove("active");
        element.classList.add("inactive");
        users.splice(users.indexOf(username),1);
    }else if(hasClass(element,"inactive")){
        element.classList.remove("inactive");
        element.classList.add("active");
        users.push(username);
    }
}

function submit_ajax(){
    send_ajax('/group_remove_member/{{group['id']}}',{members:users},redirect_handler)
}
</script>

{% end %}
