{% extends "template_center.html" %}                

{% block title %}
New Password
{% end %}

{% block embedding %}
<div style="padding: 20px;max-width: 300px;width: 300px">
<h1 style="font-size: 40px">Forgot Password?</h1>
<h2>... no problem ;)</h2>
<h3>Just enter a new password.</h3>
</div>
{% end %}

{% block center %}
<div style="overflow:hidden">
    <h1 style="float:left">New Password</h1>
</div>

<form id="form" action="/new_password/{{user['username']}}/{{user['reset_key']}}" method="post">
    <p1>password</p1><br>
    <p1 class="remark" id="password_remark"></p1>
    <input type="password" name="password" id="password" onchange="check_password()" onkeyup="check_password()">
    <input type="button" value="save" onclick="document.getElementById('form').submit()">
    {% module xsrf_form_html() %}
</form>
{% end %}

{% block script %}
<script src="{{static_url("cookie.js")}}"></script>

<script>
function check_password(){
    pw = document.getElementById("password").value;
    if(!validPassword(pw)){
        document.getElementById("password_remark").innerHTML="password must consist of at least 8 letters, a lower and an upper case character and a digit";
        return false;
    }else{
        document.getElementById("password_remark").innerHTML="";
        return true;
    }
}
</script>
<script src="{{static_url("input_script.js")}}"></script>

{% end %}
