{% extends "template_center.html" %}                

{% block title %}
{{translate("Reset Password")}}
{% end %}

{% block embedding %}
{% raw translate("welcome reset password")%}
{% end %}

{% block center %}
<div style="overflow:hidden">
    <h1 style="float:left">{{translate("Reset Password")}}</h1>
</div>

<form id="form" action="/reset_password" method="post">
    <p1>{{translate("Username")}}</p1>
    <input type="text" name="username">
    <input type="button" value="{{translate('Reset')}}" onclick="document.getElementById('form').submit()">
    {% module xsrf_form_html() %}
</form>
{% end %}

{% block script %}
<script src="{{static_url("cookie.js")}}"></script>
{% end %}
